@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap");

body {
    font-family: Lato, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    /* margin-top: 2%; */
}

#page-content {
    margin: 5%;
    margin-top: 0;
}

#update-feats-button {
    margin-bottom: 10px;
}

#update-plots-button {
    margin-top: 50px;
    margin-bottom: 10px;
}

#feats-and-graphs {
    display: flex;
    justify-content: space-between;
}

#features {
    /* float: left; */
    width: 18%;
    height: inherit;
    flex-wrap: wrap;
}

#graphs-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* margin-left: 18%; */
    width: 80%;
}

#histogram-and-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#histogram-div {
    width: 46.5%;
}

#sectorinfo-div {
    width: 46.5%;
}

#tabs {
    display: flex;
    border-top: 1px solid lightgrey;
    flex-direction: row;
    background-color: white;
    text-align: center;
}

#tabs a {
    user-select: none;
}

#tabs > a:first-child {
    width: 20%;
    border-right: 1px solid lightgrey;
    margin-left: 6%;
}

#tabs > a:last-child {
    width: 20%;
}

.row {
    display: flex;
    flex-direction: row;
    width: inherit;
}

.banner {
    margin: 0px;
    width: 100%;
    color: #333333;
    background-color: white;
    display: flex;
    flex-direction: row;
}

#app-title {
    font-size: 2.25rem;
    padding-left: 6%;
}

#motto {
    margin-top: 40px;
    font-family: "Asap", sans-serif;
}

.pretty_container {
    border-radius: 3px;
    background-color: #f9f9f9;
    margin: 15px;
    padding: 10px;
    position: relative;
    box-shadow: 2px 2px 2px lightgrey;
}
