#ob-main-slider {
  background: transparent;
  max-width: 1160px;
}

@media (min-width: 1160px) {

/*  #ob-main-slider {
    margin: 15px auto 0;
  }
*/
/*  #ob-main-slider img {
    border: 1px solid #cecfce;
  }
*/
}

#ob-main-slider .ob-slider-capt {
  height: 100%;
}

/*#ob-main-slider .ob-capt {
  font-size: 60px;
}*/

#ob-main-slider .ob-slider-capt p {
  font-size: 20px;
}

/*@media (max-width: 1023px) {
  #ob-main-slider .ob-capt {
    font-size: 36px;
  }
}
*/
/*@media (max-width: 640px) {
  #ob-main-slider .ob-capt {
    font-size: 26px;
  }
}*/

#ob-main-slider .bx-wrapper .bx-pager {
  bottom: 10px;
  padding: 0px;
}

/*#ob-main-slider .bx-wrapper {
  margin-bottom: 15px;
}*/

.ob-content-section .class-file {
  margin: 0 0 10px;
}

.ob-quotes-status {
  font-size: 10px !important;
  color: #002F67;
  position: relative;
  top: -1px;
  margin-right: 4px;
  }
  .ob-quotes-status.danger {
    color: #902735; }
  .ob-quotes-status.favorably {
    color: #3BAEEF; }

.mosttraded td.ob-ellipsis {
  width: 50%;
  }

.mosttraded .table > tbody > tr > td {
  padding: 8px 4px;
  }

.mosttraded .table > thead > tr > th {
  font-weight: normal;
  }

.mosttraded .ob-info-box .ob-capt .ob-info-box__link{
 margin:0px;
 }

a.ob-ticker, a.ob-ticker:hover{
 color: #FFF;
}
#ob-header-nav {
    max-width: 730px;
    width: 100%;
}

.header_search_form.header_search_updated {
    display: block; 
    float: left; 
    margin: 0 15px;
    max-width: 300px;
}
.header_search_form.header_search_updated .input-group {
    margin-top: 7px;
    width: 100%;
}
.header_search_form.header_search_updated .form-control{
    height: auto;
    padding: 5px 12px;
    font-size: 15px !important;
}

.header_search_form.header_search_updated input,
.header_search_form.header_search_updated input[type="text"],
.header_search_form.header_search_updated .search_icon {
    color: #959595;
}
.header_search_form.header_search_updated input:focus {
    color: #000;
    border-color: #0978c1;
    background: #fff;
    box-shadow: none;
}

.header_search_form.header_search_updated .action {
    position: absolute;
    top: 0px;
    z-index: 3;
    bottom: 0px;
    right: 0;
    padding: 0px 10px;
    border: 0;
    outline: 0;
    background: 0;
}

.header_search_form.header_search_updated .search--focused {
    background: #0978c1;
}
.header_search_form.header_search_updated .search--focused .search_icon {
    color: #fff;
}

.header_search_form.header_search_updated button {
    margin: 0;
}

.attribute-short table {
    max-width: 625px;
    width: 100%;
    margin-top: 8px;
}

.attribute-short table th,
.attribute-short table td {
    padding: 2px 0;
    padding-right: 8px;
}

@media (min-width: 768px) and (max-width: 991px) {
    #ob-header-nav,
    .header_search_form.header_search_updated {
	width: auto;
    }
    .header_search_form.header_search_updated .input-group {
	width: 215px;
    }
}
@media (max-width: 767px) {
    #ob-header-nav {
	width: auto;
    }    
    
    .header_search_form.header_search_updated {
	width: 110px;
	margin: 0;
    }

    .attribute-short table tr:first-child {
	float: left;
    }
    .attribute-short table tr:last-child {
	float: right;
    }
    .attribute-short table th,
    .attribute-short table td {
	display: block;
	padding-right: 0;
    }
}
@media (max-width: 380px) {
    #ob-header-nav a {
	margin-left: 10px;
    }
}

.search-main-filter{margin-bottom: 0px;}

.mosttraded .heading a {
    display: inline-block;
    margin-bottom: 0;
}

.mosttraded .heading h2 {
    font-size: 23px;
    margin-right: 8px;
}

.mosttraded .heading select {
    margin: 15px 0;
}

.mosttraded .heading span {
    font-size: 14px;
    margin: 5px 0 0px 30px;
}

.mosttraded .heading a.active {
    text-decoration: underline;
}

.dynamic-block {
    position: relative;
    margin: 0 0 15px 0;
}

.dynamic-block img {
    width: 100%;
}

.dynamic-block .text-block {
    position: absolute;    
    left: 10px;
    right: 10px;
    bottom: 10px;    
    padding: 10px;
    background: rgba(256,256,256, 0.8);
}

.dynamic-block .text-block h3 {
    margin-top: 0;
}

.dynamic-block p {
    margin-bottom: 0;
}

.dynamic-block.dynamic-link .text-block a {
    margin-top: 6px;
    font-weight: bold;
    display: block;
}

.dynamic-video .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 1px;
    height: 0;
}
.dynamic-video .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container.ob_frontpage > .row {
    margin-top: 15px;
}

.mosttraded .table > thead > tr > th:last-of-type {
    width: 15%;
}

.success {
    background: none repeat scroll 0 0  #477857;
    color:#fff;
    margin-bottom:10px;
    padding:5px;
}
.success strong{
    padding:0 5px;
    display: block;
}
.success small.error {
    background: none repeat scroll 0 0  #477857;
    color: white;
    display: block;
    font-style: italic;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: -1px;
    padding: 0.375rem 0.5625rem 0.5625rem;
}